:root{
	--main-padding-y: 80px;
	--content-padding: 10px;
	--sections-gap: 80px;

	--header-height: 80px;

	--text: #252B42;

	--accent: #FF685B;
	--secondary: #E74040;
}

body{
	line-height: 1;
	font-family: $fMontserrat, Arial, sans-serif;
	color: $text;
}

button{
	background: none;
	color: $accent;
	cursor: pointer;
}

img {
	max-width: 100%;
	width: 100%;
	vertical-align: bottom;
}

span,
p,
a,
input,
button {
	font-size: inherit;
}

span,
p,
a {
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	color: inherit;
}

input,
textarea {
	border: unset;
	min-width: 1px;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.content{
	width: 1046px;
	max-width: calc(100% - var(--content-padding, 10px) * 2);
	margin: 0 auto;
	padding: var(--main-padding-y) 0;

	section{
		& + section{
			margin-top: var(--sections-gap);
		}
	}
}


/* 480px */
@media screen and (max-width: 767px){
    :root{
		--sections-gap: 11px;
		--main-padding-y: 37px;
	}
}