.wrapper {
	border: 2px solid $accent;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 8px 60px;
	font-size: 20px;
	font-weight: 500;
	color: $accent;
	letter-spacing: .065em;

	transition: .2s color ease-in-out, .2s background-color ease-in-out;

	@include hover{
		background-color: $accent;
		color: white;
	}
}

/* 480px */
@media screen and (max-width: 767px){
    .wrapper{
		padding: 6px 20px;
	}
}