.wrapper {
	border: 2px solid $accent;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 8px 60px;
	font-size: 20px;
	font-weight: 500;
	color: $accent;
	letter-spacing: .065em;
}