.wrapper {
	min-height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
}

.caption{
	font-size: 58px;
	line-height: (80/58);
	font-weight: bold;
	letter-spacing: .015em;
}

.btns{
	display: flex;
	gap: 10px;
}