.wrapper {
	min-height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
}

.caption{
	font-size: 58px;
	line-height: (80/58);
	font-weight: bold;
	letter-spacing: .015em;
}

.btns{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

/* 480px */
@media screen and (max-width: 767px){
	.wrapper{
		min-height: 213px;
		gap: 44px;
	}

    .caption{
		font-size: 28px;
		line-height: 1.4;
	}
}